html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a, a:hover {
	text-decoration: none;
}

.no-padding-right {
	padding-right: 0px !important;
}

.no-padding-left {
	padding-left: 0px !important;
}

.bottom-gap {
	margin-bottom: 10px;
}

.top-gap {
	margin-top: 10px;
}

.visibility-hidden {
	visibility: hidden;
}

.height-250 {
	height: 250px;
}

.prime-folk-nav {
	background-color: #f4f2f5;
}

.prime-folk-nav ul {
	margin-bottom: 0;
}

.prime-folk-nav ul li {
	list-style: none;
    display: inline-block;
    /* margin-right: 15px; */
    padding: 20px;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.prime-folk-nav ul li:hover,
.prime-folk-nav ul li.active {

	text-shadow: 1px 0px 0px #333;
	background-color: #dfdddf;
	color: #000;
	border-bottom: 3px solid #000;

}

.prime-folk-nav ul li a {
	color: #212121;
}

.nav-login, .nav-ecom {
	padding: 20px;
}

.nav-ecom {
	background-color: #dfdddf;
	font-weight: bold;
	text-align: right;
    width: 160px;
}

.nav-ecom a {
	color: #5e5d5d;
}

.nav-ecom img, .nav-login img {
	width: 20px;
	margin-right: 15px;
}

.nav-select {
	
}

.nav-select select {
	/*-webkit-appearance: none;*/
	background-color: #f4f2f5;
	border: none;
}

.second-folk-nav {
	padding: 10px;
}

.second-folk-nav ul {
	margin-bottom: 0;
	display: inline-block;
	vertical-align: bottom;
}

.nav-logo {
	display: inline-block;
}

.nav-logo img {
	width: 40px;
}

.second-folk-nav ul li {
	list-style: none;
	vertical-align: bottom;
	display: inline-block;
	margin-right: 20px;
}

.second-folk-nav ul li a {
	color: #333;
	font-size: 16px;
}

.second-folk-nav .container {
	width: 85%;
}

.section-style img {
	width: 100%;
	height: 100%;
}

.section-style {
	padding: 30px 15px;
}

.right-side-sec {
	margin-top: 40px;
}

.right-side-sec h3 {
	position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.right-side-sec h3:after {
	content: '';
    position: absolute;
    height: 3px;
    width: 46%;
    bottom: -10px;
    left: 0;
    background-color: rgba(188,144,54,1.0);
}

.right-side-sec p {
	font-size: 18px;
    margin-bottom: 25px;
    text-align: justify;
}

.right-side-sec p span {
	display: block;
}

.sandal-section {
	background-color: rgba(244,237,219,1.0);
}

.goal-img-size {
	width: 170px !important;
    padding-top: 15px;
    padding-bottom: 10px;
}

.content-icons span {
	display: inline-block;
    margin-right: 20px;
    text-align: center;
    vertical-align: top;
    height: 75px;
}

.content-icons span img {
	width: 40px;
}

.content-icons span h5 {
	margin-top: 0;
}


/* Author: Aditya */

.footer-class {
	background-color: #1c2125; 
	padding: 2.5rem 4rem 2.5rem 4rem; 
	display: flex; 
	flex-direction: column;
	align-items: center;
	color: white;
	letter-spacing: 0.25px;
}

.footer-div-class {
	display: flex; 
	justify-content: flex-start; 
	width: 75%;
	padding: 1rem 0;
}

.contact-heading-span {
	font-size: 2rem;
}

.d-flex {
	display: flex;
}

.width-30 {
	width: 30%;
}

.width-40 {
	width: 40%;
}

.footer-contact-div {
	padding-top: 0!important;
	padding-bottom: 2rem!important;
}

.footer-img-class {
    margin-right: 2rem;
}

.last-footer-class {
	padding: 3.5rem 3rem 4.5rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.last-footer-divs {
	width: 60%;
}

.last-footer-links-div {
	width: 52%;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.last-footer-img-span {
	margin-right: 2rem;
}

.justify-content-center {
	justify-content: center;
}

.padding-2rem {
	padding: 2rem 0;
}

.font-size-1rem {
	font-size: 1rem;
	letter-spacing: 0.5px;
}

.font-size-13px {
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

/* Author: Aditya */




@media (max-width: 800px) {

	.nav-login, .nav-ecom {
    	padding: 15px;
	}

	.prime-folk-nav ul li {
		padding: 15px;
	}

}

@media (max-width: 600px) {

	.no-xs-padding-l {
		padding-left: 0px;
	}

	.no-xs-padding-r {
		padding-right: 0px;
	}

	.xs-padding-right {
		padding-right: 10px;
	}

	.xs-padding-left {
		padding-left: 10px;
	}

	.mob-d-none {
		display: none
	}

	.footer-div-class {
		display: flex; 
		justify-content: flex-start; 
		width: 100%;
		padding: 1rem 0;
	}

	.footer-class {
		background-color: #1c2125; 
		padding: 2.5rem 3rem 2.5rem 3rem; 
		display: flex; 
		flex-direction: column;
		align-items: center;
		color: white;
		letter-spacing: 0.25px;
	}

	.flex-column {
		flex-direction: column!important;
	}

	.width-30 {
	    width: 100%;
	    margin-bottom: 2rem;
	}

	.width-40 {
	    width: 100%;
	}

	.footer-img-class {
	    margin-right: 1.5rem;
	}

	.last-footer-links-div {
	    width: 100%;
	    display: flex;
	    justify-content: space-around;
	    font-size: 14px;
	    flex-wrap: wrap;
	}

	.font-size-13px {
	    font-size: 12px;
	    font-weight: bold;
	    margin: 1rem 0.5rem;
	}

	.last-footer-divs {
		width: 100%;
	}

	.last-footer-class {
	    padding: 3rem 3rem 3.5rem 3rem;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.web-d-none {
		margin: 1rem 0 0 0;
		color: rgba(0, 0, 0, 0.5);
	    font-size: 11px;
	    text-align: center;
	}

}

@media (min-width: 1000px) {
	.web-d-none {
		display: none;
	}

	.width-60 {
		width: 60%;
	}

	.justify-content-center-web {
		justify-content: center;
	}

}
